<nav>
    <div class="nav-wrapper blue darken-4">
      <a href="#" class="brand-logo"> 
          <img src="assets/img/logoAcm_1.png" width="40" height="40" alt="">
        ACM UD</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Grupos de Interes</a></li>
        <li><a href="#">Eventos</a></li>
        <li><a href="#">Quines Somos</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
      <li><a href="#">Home</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Grupos de Interes</a></li>
        <li><a href="#">Eventos</a></li>
        <li><a href="#">Quines Somos</a></li>
  </ul>